.header-wrapper {
  height: 70px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-wrapper {
    height: 60px;
    width: 60px;
    border-radius: 10px;
    overflow: hidden;
  }
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;

  .avatar {
    background-color: var(--secondary-color);
    width: 34px;
    height: 34px;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    svg {
    }
  }
}
