.table-wrapper {
  width: 100%;

  border-collapse: collapse !important;
  border: none !important;
  border-spacing: 0 !important;
  border-collapse: separate !important;
  padding-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  thead tr th {
    height: 60px;
    border-right: 0;
    border-spacing: 0;
    border: unset;
    border-bottom: 1px solid #524343;
  }

  tr {
    border: none !important;
    &:hover {
      background-color: rgba($color: #0b1121, $alpha: 0.1);
    }
  }

  thead {
    display: block;
  }

  tbody {
    display: block;
    table-layout: fixed;
    width: 100%;
  }

  tbody tr td {
    height: 54px;
  }
}
