.title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 8px;
  }
}

.editor {
  height: calc(100vh - 300px);
  margin-bottom: 20px;

  > div:last-child {
    height: calc(100% - 40px);
  }
}
