.title {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  span {
    margin-bottom: 8px;
  }
}

.editor {
  height: 400px;
  margin-bottom: 20px;

  > div:last-child {
    height: calc(400px - 40px);
  }
}
