.input-primary {
  outline: none;
  border-radius: 10px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #c5c5c5;
  &:hover,
  &:focus {
    border: 1px solid hsl(194, 52%, 50%);
  }
}

.theme-dark {
  background-color: #333;
  color: white;
}

.theme-light {
  background-color: #f4f4f4;
}

img {
  width: 100%;
  height: 100%;
}
